body{
    width: 100%;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("contact.jpg") no-repeat center;
    background-size: 100% 100%;
    display: flex;
}
.left-section{
    margin:50px;
    color: white;
    width:50%;
}
.left-section p{
    width:80%;
}

form{
    
    background-color: white;
    width: 30%;
    margin-top:50px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}
input{
    height: 30px;
    border:none;
    border-bottom: 1px solid gray;
    outline: none;
}
#message{
    margin-bottom: -25px;
}
#submit{
    height: 40px;
    background-color: green;
    color:white;
    font-size: 18px;
    border-radius: 25px;
}
.radio-btns-wrap{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.radio-btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}